@charset "utf-8";
@media (max-width: 1200px) {
	.container{
		width: 100%;
	}
	.phonenav{
		display: block;
	}
	.home-news{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.home-news-none{
		display: none;
	}
	.page-banner{
		height: 150px;
	}
	.page-banner h2{
		width: 300px;
		margin-top: 45px;
	}
	.proshow-content-tab li{
		display: block;
		width: 100%;
		margin-right: 0px;
	}
	.page-list ul li{
		font-size: 12px;
		margin-left: 1px;
		margin-right: 1px;
	}
	.page-list ul li a{
		padding: 3px 5px;
	}
	.aboutgroupline,.midclockL,.midclockR,.groupboxlineL,.groupboxlineR{
		display: none;
	}
	.groupitembox{
		width: 100%;
		display: block;
		float: none;
		margin-bottom: 20px;
	}
	.groupitemboxL{
		width: 100%;
		display: block;
		float: none;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.groupitemboxR{
		width: 100%;
		display: block;
		float: none;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.header{
		display: none;
	}
	.home-mid-bar{
		padding: 20px 0 15px 0;
	}
	.home-mid-bar img{
		float: none;
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.home-mid-bar p{
		float: none;
		width: 100%;
		font-size: 14px;
		line-height: 22px;
		height: auto;
		padding-left: 0px;
		margin-top: 15px;
	}
	.home-technology-text h4{
		font-size: 22px;
	    margin-top: 20px;
	}
	.home-technology-text h5{
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.home-technology-text p{
		font-size: 12px;
		line-height: 20px;
		height: auto;
		overflow: auto;
	}
	.home-products-mobile{
		display: block;
	}
	.home-products-pc{
		display: none;
	}
	.home-products-mobile-item{
		position: relative;
		margin-bottom: 20px;
	}
	.home-products-mobile-item p{
		position: absolute;
		left: 0;
		bottom: 0;
		height: 40px;
		line-height: 40px;
		color: #ffffff;
		text-transform: uppercase;
		width: 100%;
		padding-left: 30px;
		background: -webkit-linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0.7));
		background: -moz-linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0.7)); /*FireFox*/
		background: -o-linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0.7));  /* Opear */
		background: -ms-linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0.7)); /*IE10及IE10+*/
	}
	.home-technology{
		padding-top: 35px;
		padding-bottom: 25px;
	}
	.home-products{
		padding: 25px 0;
	}
	.home-title{
		margin-bottom: 25px;
	}
	.home-title h1{
		font-size: 14px;
	}
	.home-title h1:before{
		height: 37px;
	}
	.home-title h1:after{
		height: 37px;
	}
	.home-about{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.home-about-text{
		padding: 30px;
	}
	.home-about-text h5{
		font-size: 22px;
		margin-bottom: 10px;
	}
	.home-about-text p{
		line-height: 20px;
		font-size: 12px;
	}
	.home-partner{
		padding: 30px 0;
	}
	.page-bottom-bar p{
		display: block;
		font-size: 14px;
		line-height: 28px;
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.mobile-none{
		display: none;
	}
	.footer-content{
		padding: 30px 0;
	}
	.footer-bottom p{
		text-align: left;
	}
	.menu-list{
		height: auto;
		box-shadow: 0 3px 10px rgba(0,0,0,0.4);
	}
	.menu-list-content{
		height: auto;
		background-color: #ffffff;
		box-shadow: 0 3px 10px rgba(0,0,0,0.4);
		padding: 5px 0;
	}
	.menu-list-content ul li{
		float: none;
		width: 100%;
		line-height: 35px;
		border-bottom: 1px solid #ededed;
	}
	.menu-list-content ul li a{
		font-size: 14px;
	}
	.menu-list-content ul li:after{
		display: none;
	}
	.menu-list-content ul li:last-child{
		border-bottom: none;
	}
	.page-content{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.about1-title{
		width: 200px;
		margin-bottom: 20px;
	}
	.about1-title img{
		float: left;
		width: 100px;
	}
	.about1-title p{
		font-size: 14px;
		margin-top: 25px;
	}
	.flip-3d{
		margin-bottom: 20px;
	}
	.about1-section2{
		margin-top: 20px;
	}
	.about1-section3{
		margin-top: 20px;
	}
	.about1-section3 img{
		margin-bottom: 10px;
	}
	.about1-section4{
		margin-top: 10px;
	}
	.about1-section4 img{
		margin-top: 20px;
	}
	.about1-owl5-item p{
		display: none;
	}
	.about1-section6{
		margin-top: 20px;
	}
	.services1-quality-item img{
		width: 100%;
		float: none;
	}
	.services1-quality-text{
		float: none;
		width: 100%;
		padding: 20px 30px;
	}
	.services1-quality-text h5{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.services1-quality-text p{
		font-size: 12px;
		line-height: 20px;
	}
	.download-section{
		height: auto;
		padding: 30px;
	}
	.download-box{
		width: 100%;
		height: auto;
		padding: 20px;
	}
	.download-box p{
		font-size: 14px;
	}
	.download-box a{
		border: 1px solid #ffffff;
		font-size: 16px;
		padding: 5px 30px;
		margin-top: 10px;
	}
	.proshow-top-img{
		width: 100%;
		float: none;
	}
	.proshow-top-info{
		width: 100%;
		float: none;
		padding-left: 0px;
		padding-top: 10px;
	}	
	.proshow-top-img-big{
		width: 100%;
		height: auto;
		float: none;
	}
	.proshow-top-img-small{
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 10px;
	}	
	.proshow-top-img-small img{
		width: 32%;
		height: auto;
		float: none;
		margin-left: 0px;
		margin-bottom: 5px;
	}
	.proshow-top-info h1{
		font-size: 20px;
	}
	.proshow-top-info h2{
		font-size: 12px;
	}
	.proshow-top-info ul li{
		font-size: 12px;
		line-height: 20px;
	}
	.proshow-top-info hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.news-list-item h4{
		font-size: 18px;
		margin-bottom: 10px;
		line-height: 24px;
		max-height: 48px;
		margin-top: 25px;
	}
	.news-list-item p{
		font-size: 12px;
		line-height: 20px;
		max-height: 80px;
	}
	.services2-packing-img{
		height: 100px;
	}
	.services2-packing-img img{
		height: 100px;
	}
	.services2-packing p{
		font-size: 12px;
		line-height: 20px;
	}
	.services2-packing-img p{
		line-height: 100px;
		font-size: 20px;
	}
	.contact-content{
		padding: 10px 20px 20px 20px;
	}
	.contact-content h1{
		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	.contact-content p{
		font-size: 12px;
		line-height: 22px;
	}
	.contact-margin{
		margin-top: 0px;
	}
	.video-banner{
		display: none;
	}
	.phone-banner{
		display: block;
	}
	.hot-products-owl-left,.hot-products-owl-right{
		display: none;
	}
	.download-float-box{
		left: 0;
		top: 20%;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
	
  /*----------------------------------------------*/
	.reward-section1-text p{
		font-size: 14px;
		margin-top: 14%;
	}
	.reward-section4{
	    padding: 10px 5px 15px 5px;
	}
	.reward-section4 p{
	    font-size: 14px;
	    margin-right: 0px;
	}
	.reward-section2-item{
		margin-bottom: 20px;
	}
	.reward-section3-item-text{
		height: auto;
	}
	.reward-section6-item{
		margin-bottom: 20px;
	}
	.reward-section6-item p{
		line-height: 20px;
		font-size: 12px;
		padding: 10px 0;
	}
	.reward-section6-item p span{
		font-size: 14px;
		margin-right: 3px;
	}
	.mobile-marginT0{
		margin-top: 0;
	}
	.reward-section3-item{
		margin-bottom: 20px;
	}

	.float-box{
		display: none;
	}
	
	
	.free-bar{
		display: none !important;
	}
	
	
	
	
	
	
	
	
	
	
	
	
			
	
	
	
}






